<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>居酒屋向け 無料ホームページテンプレート tp_izakaya5</title>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- 추가적인 CSS 파일 -->
<link rel="stylesheet" href="css/style.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Bootstrap JS 및 Datepicker -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<script>
// 예약 데이터 가져오기
var reserves = [[${reserve}]];
$(document).ready(function() {
    // 예약된 시간 비활성화
    reserves.forEach(function(res) {
        $('.time-slot[data-time="' + res.time + '"]').addClass('disabled');
    });
});
// 팝업 열기 함수
function openPopup(url) {
    window.open(url, "Popup", "width=500,height=500");
}
// 폼 제출 방지 함수
function preventDefault(event) {
    event.preventDefault();
}
// 로그인 모달 표시 함수
function showLoginModal() {
    $('#loginModal').modal('show');
}
// 예약 제출 함수
function submitForms() {
    // 필수 항목 체크
    var date = $('#dp1').val();
    var person = $('select[name="person"]').val();
    var menu = $('select[name="menu"]').val();
    if (!date || !person || !menu) {
        alert("날짜, 인원, 메뉴를 선택해주세요.");
        return;
    }
    // 폼 제출
    $('#reserve').submit();
}
</script>
</head>

<body>

<header>
<h1 id="logo"><a href="/"><img src="images/logo.png" alt="居酒屋"></a></h1>
<nav id="menubar">
<ul>
<li><a href="/">ホーム</a></li>
<li><a href="about">お店情報</a></li>
<li><a href="menu">メニュー</a></li>
<li class="current"><a href="reserve">ご予約</a></li>
<li><a th:if="${session.loginUser}" href="contact">お問合せ</a></li>
<li><a th:if="${session.loginUser}" href="reserved/list">予約確認</a></li>
<li><a th:unless="${session.loginUser}" href="reserved/findEmail">予約確認</a></li>
<li><a th:if="${session.loginUser}" href="logout" class="popup-btn">ログアウト</a></li>
<li><a th:unless="${session.loginUser}" href="javascript:void(0)" onclick="openPopup('login')" class="popup-btn">ログイン</a></li>
</ul>
</nav>
<ul class="icon">
<li><a href="#"><img src="images/icon_facebook.png" alt="Facebook"></a></li>
<li><a href="#"><img src="images/icon_twitter.png" alt="Twitter"></a></li>
<li><a href="#"><img src="images/icon_instagram.png" alt="Instagram"></a></li>
</ul>
</header>

<div id="contents">
<div id="main">
<h2>予約</h2>
<div class="container-fluid px-0 px-sm-1 mx-auto mt-5">
    <div class="row justify-content-center mx-1">
        <div class="col-lg-10">
        <div class="card border-0">
            <form id="reserve" action="reserve" autocomplete="off" method="post">
            <div class="container-fluid card-header bg-dark">
                <div class="d-flex justify-content-center">
                    <input name="date" type="text" id="dp1" class="datepicker" th:value="${date}" placeholder="날짜를 정해주세요." readonly><span class="fa fa-calendar"></span>

                    <select required name="person" class="form-select ml-3">
                        <option disabled selected>人数</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    
                    <select required name="menu" class="form-select ml-3">
                        <option disabled selected>メニュー</option>
                        <option value="set1">set1</option>
                        <option value="set2">set2</option>
                        <option value="set3">set3</option>
                    </select>
                </div>
            </div>
            <div class="card-body p-4 p-sm-4 ml-4"><h3>午前</h3>
                <div class="row text-center mx-0">
                    <input type="hidden" name="time" id="selectedTime" value="">
                    <div class="col-md-2 col-4 my-3 px-0"><div class="cell py-2 time-slot" data-time="10:00AM">10:00AM</div></div>
                    <div class="col-md-2 col-4 my-3 px-0"><div class="cell py-2 time-slot" data-time="11:00AM">11:00AM</div></div>
                    <div class="col-md-2 col-4 my-3 px-0"><div class="cell py-2 time-slot" data-time="12:00PM">12:00PM</div></div>
                </div>
            </div>
            <div class="card-body p-4 p-sm-4 ml-4"><h3>午後</h3>
                <div class="row text-center mx-0">
                    <div class="col-md-2 col-4 my-3 px-0"><div class="cell py-2 time-slot" data-time="1:00PM">1:00PM</div></div>
                    <div class="col-md-2 col-4 my-3 px-0"><div class="cell py-2 time-slot" data-time="2:00PM">2:00PM</div></div>
                    <div class="col-md-2 col-4 my-3 px-0"><div class="cell py-2 time-slot" data-time="3:00PM">3:00PM</div></div>
                    <div class="col-md-5 col-4 my-3 px-0"><div class="cell py-2 time-slot" data-time="4:00PM">4:00PM</div></div>
                    <div class="col-4 col-md-2 my-3 px-0"><div class="cell py-2 time-slot" data-time="6:00PM">6:00PM</div></div>
                    <div class="col-4 col-md-2 my-3 px-0"><div class="cell py-2 time-slot" data-time="7:00PM">7:00PM</div></div>
                    <div class="col-4 col-md-2 my-3 px-0"><div class="cell py-2 time-slot" data-time="8:00PM">8:00PM</div></div>
                    <div class="col-4 col-md-2 my-3 px-0"><div class="cell py-2 time-slot" data-time="9:00PM">9:00PM</div></div>
                </div>
            </div>
            </form>
        </div>
        <!-- 로그인 모달 영역 -->
        <div id="loginModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>情報を入力してください。</h2>
                <div class="form-group">
                    <label for="name">メール</label>
                    <input type="text" id="name" name="email">
                </div>
                <button onclick="submitForms()">予約する</button>
            </div>
        </div>
        <!-- 예약 버튼 영역 -->
        <div id="bt">
            <button th:if="${session.loginUser}" type="submit" form="reserve">予約する</button>
            <button th:unless="${session.loginUser}" id="loginPrompt" onclick="showLoginModal()">予約する</button>
            <button onclick="location.href='/'">帰る</button>
        </div>
        </div>
    </div>
</div>
</div>
</div>

<aside id="mainimg">
<div class="slide-sub2">slide-sub2</div>
</aside>

<p class="nav-fix-pos-pagetop"><a href="#"><img src="images/icon_pagetop.png" alt="PAGE TOP"></a></p>

<div id="menubar_hdr" class="close"></div>
<script>
if (OCwindowWidth() <= 900) {
    open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
