<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List</title>
</head>
<body>
<table border="1px">
	<tr>
		<th>id</th>
		<th>아이디</th>
		<th>비밀번호</th>
		<th>이름</th>
		<th>이메일</th>
		<th>생년월일</th>
	</tr>
	<tr th:each="user: ${userList}">
		<td th:text="${user.id}"></td>
		<td th:text="${user.username}"></td>
		<td th:text="${user.password}"></td>
		<td th:text="${user.name}"></td>
		<td th:text="${user.email}"></td>
		<td th:text="${user.birth}"></td>
		<td>
			<a th:href="@{|list/${user.id}|}">조회</a>
		</td>
		<td>
			<a th:href="@{|delete/${user.id}|}">삭제</a>
		</td>
	</tr>
</table>
</body>
</html>